.job-card {
    display: block;
    text-align: left;
    text-indent: 8%;
    background-color: rgb(229, 231, 232);
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0, 0, 1, 2;
    width: 75%;
}

.apply-btn {
    background-color: darkgreen;
    margin-left: 89%;
}