.jobs-list {
    display: block;
    box-sizing: border-box;
    margin-left: 18%;
}

.search-btn {
    margin-left: 4px;
    background-color: #2a4365;
}

.search-btn:hover {
    background-color: gray;
}